@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%; /* Deep Black/Blue */
  --primary-foreground: 210 40% 98%;
  --radius: 0.75rem;
}

body {
  background-color: #f8f9fa; /* Very soft gray background */
  font-family: 'Inter', sans-serif; /* Clean font */
}

/* Hide Scrollbar for cleaner UI */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}